<h2>New customer form</h2>
<form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
  <label for="name">Name</label>
  <input type="text" name="name" formControlName="name" />  
  <label for="type">Type</label>
  <select name="type" placeholder="Please select" formControlName="type">
    <option [ngValue]="undefined" selected>Please select</option>
    <option *ngFor="let type of types">{{type}}</option>
  </select>
  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customers list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>